body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

video{
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  font-size: 25px;
  font-family: "Monaco";
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 122%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 0;
}